@import url("./style/basic/color.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*############################## main-content-area ################################ */
.main-content-area {
  background-color: var(--dark-text-color);
  display: block;
  position: relative;
  height: 100vh;
  padding: 0 15px;
  height: calc(100vh - 88px);
}
